{% extends 'base.html' %}

{% block content %}
<h1 class="bi bi-incognito">{% block title %} INTLog Archive {% endblock %}</h1>
<p>
	<font style="font-family:monospace">Past investigations</font>
</p>
<br>
{% if investigations|length < 1%} <p>Nothing found in the archive.</p>
	{% endif %}
	{% for investigation in investigations %}
	<a href="{{ url_for('investigation', inv_id=investigation['id']) }}">
		<h2 style="color:gray">> [Archived] Investigation: {{ investigation['investigation_name']}}</h2>
	</a>
	<i class="bi bi-calendar-week-fill"></i>
	<span class="badge badge-primary">{{ investigation['investigation_date'] }}</span> | <a class="badge badge-warning"
		href="{{ url_for('unarchive_inv', inv_id=investigation['id']) }}">
		<i class="bi bi-"></i> Remove from Archive</a> | <a style="color:red" title="Delete"
		class="bi bi-trash-fill" href="{{ url_for('delete_investigation', inv_id = investigation['id']) }}"></a>
	<p>
		<font style="font-family:monospace">
			<p>{{ investigation['investigation_desc'] }}
			<p>
		</font>
		<hr>
		{% endfor %}
		{% endblock %}