{% extends 'base.html' %}

{% block content %}
    <h2>{% block title %} {{ investigation['investigation_name'] }} {% endblock %}</h2>
    <i class="fas fa-calendar-alt"></i>
    <span class="badge badge-primary">{{ investigation['investigation_date'] }}</span> | <a title="Delete" class="fas fa-trash-alt" href="{{ url_for('delete_investigation', inv_id = investigation['id']) }}"></a>
    <p>
    <p><font style="font-family:monospace">{{ investigation['investigation_desc'] }}</font></p>
    <hr>

    <a href="{{ url_for('add_artifact', inv_id=investigation['id']) }}">
    		<button type="button" class="btn btn-success btn-sm"><i class="fas fa-plus"></i> Add Artifact</button>
    </a> | 
    <a href="{{ url_for('timeline', inv_id=investigation['id']) }}">
            <button type="button" class="btn btn-info btn-sm"><i class="fas fa-project-diagram"></i> Artifact Timeline</button>
    </a> |
    <a href="{{ url_for('export_artifacts', inv_id=investigation['id']) }}">
            <button type="button" class="btn btn-info btn-sm"><i class="fas fa-download"></i> Export Artifacts (CSV)</button>
    </a>  

    <hr>
    <p>
  <div style="padding: 10px; overflow:scroll; overflow-y:scroll; " class="table-responsive">
    <table id="myTable" class="table table-striped" style="width:100%">
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search artifacts..." title="Type in data">
        <caption>Artifacts</caption>
    <thead class="table-dark">
        <tr>
            <th class="flagged">Priority</th>
            <th>Artifact</th>
            <th>Artifact Type</th>
            <th>Description</th>
            <th class="artifactdate">Date Added</th>
            <th class="options">Options</th>
        <tr>
    </thead>
    <tbody>
        {% for artifact in artifacts %}
        <tr>
            <td >{%if artifact['flagged'] == 1%}<a title="Remove flag" style="color:red"class="fas fa-flag" href="{{ url_for('rem_flag', artifact_id = artifact['id']) }}"></a>{% else %}<a title="Add flag" style="color:gray"class="fas fa-flag" href="{{ url_for('add_flag', artifact_id = artifact['id']) }}"></a>{% endif %}</td>
            <td><font style="font-family:monospace">{{ artifact['artifact_reference'] }}</font></td>
            <td><font style="font-family:monospace">{{ artifact['artifact_type'] }}</font></td>
            <td><font style="font-family:monospace">{{ artifact['artifact_desc'] }}</font></td>
            <td><font style="font-family:monospace">{{ artifact['artifact_date'] }}</font></td>
            <td><a title="Delete" class="badge badge-danger" href="{{ url_for('delete_artifact', artifact_id = artifact['id']) }}">Delete</a> | <a title="Edit" class="badge badge-primary" href="{{ url_for('edit_artifact', inv_id=investigation['id'],artifact_id = artifact['id'])}}">Edit</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
<script>
function myFunction() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[1];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}
</script>
{% endblock %}