{% extends 'base.html' %}

{% block content %}
<!-- Title setup to check if investigation is archived or not -->
<title>{% block title %}{{ investigation['investigation_name'] }}{% endblock %}</title>
{% if investigation['investigation_archived'] == 1%}
<h2 style="color:gray">[Archived] {{ investigation['investigation_name'] }}</h2>

{%else%}
<h2>{{ investigation['investigation_name'] }}</h2>

{% endif %}
<i class="bi bi-calendar-week-fill"></i>
<span class="badge badge-primary">{{ investigation['investigation_date'] }}</span> | <a style="color:red" title="Delete"
  class="bi bi-trash-fill" href="{{ url_for('delete_investigation', inv_id = investigation['id']) }}"></a>
<p>
<p>
  <font style="font-family:monospace">{{ investigation['investigation_desc'] }}</font>
</p>
<hr>

<a href="{{ url_for('add_artifact', inv_id=investigation['id']) }}">
  <button type="button" class="btn btn-success btn-sm"><i class="bi bi-plus-square-fill"></i> Add Artifact</button>
</a> |
<a href="{{ url_for('timeline', inv_id=investigation['id']) }}">
  <button type="button" class="btn btn-info btn-sm"><i class="bi bi-diagram-2"></i> Artifact Timeline</button>
</a> |
<a href="{{ url_for('export_artifacts', inv_id=investigation['id']) }}">
  <button type="button" class="btn btn-info btn-sm"><i class="bi bi-filetype-csv"></i> Export Artifacts (CSV)</button>
</a> |
<a href="{{ url_for('json_exp', inv_id=investigation['id']) }}" target="_blank">
  <button type="button" class="btn btn-primary btn-sm"><i class="bi bi-filetype-json"></i> Export Artifacts (JSON)</button>
</a>

<hr>
<p>
<div style="padding: 10px; overflow:scroll; overflow-y:scroll; " class="table-responsive">
  <!-- Table for artifacts. Populated from investigation's artifacts via for loop -->
  <table id="myTable" class="table table-striped" style="width:100%">
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search artifacts..." title="Type in data">
    <caption>Artifacts</caption>
    <thead class="table-dark">
      <tr>
        <th class="flagged">Priority</th>
        <th>Artifact</th>
        <th>Artifact Type</th>
        <th>Description</th>
        <th class="artifactdate">Date Added</th>
        <th class="options">Options</th>
      <tr>
    </thead>
    <tbody>
      {% for artifact in artifacts %}
      <tr>
        <td>{%if artifact['flagged'] == 1%}<a data-toggle="tooltip" data-placement="right" title="Remove flag"
            style="color:red" class="bi bi-flag-fill" href="{{ url_for('rem_flag', artifact_id = artifact['id']) }}"></a>{%
          else %}<a data-toggle="tooltip" data-placement="right" title="Add flag" style="color:gray" class="bi bi-flag-fill"
            href="{{ url_for('add_flag', artifact_id = artifact['id']) }}"></a>{%
          endif %}</td>
        <td>
          {%if "CVE" in artifact['artifact_reference']%}
          <a href="https://nvd.nist.gov/vuln/detail/{{ artifact['artifact_reference']}}" target="_blank"
            rel="noopener noreferrer" data-toggle="tooltip" title="External Link to NVD">
            <font style="font-family:monospace">{{ artifact['artifact_reference'] }}<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-triangle" viewBox="0 0 16 16">
              <path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z"/>
              <path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z"/>
            </svg></font>
          </a>
          {% else %}
          <font style="font-family:monospace">{{ artifact['artifact_reference'] }}</font>
          {% endif %}
        </td>
        <td>
          <font style="font-family:monospace">{{ artifact['artifact_type'] }}</font>
        </td>
        <td>
          <font style="font-family:monospace">{{ artifact['artifact_desc'] }}</font>
        </td>
        <td>
          <font style="font-family:monospace">{{ artifact['artifact_date'] }}</font>
        </td>
        <td><a title="Delete" class="badge badge-danger"
            href="{{ url_for('delete_artifact', artifact_id = artifact['id']) }}">Delete</a> | <a title="Edit"
            class="badge badge-primary"
            href="{{ url_for('edit_artifact', inv_id=investigation['id'],artifact_id = artifact['id'])}}">Edit</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<!-- Simple table search -->
<script>
  function myFunction() {
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[1];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }
</script>
{% endblock %}